@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* font-family: 'Montserrat', sans-serif; */



html, body{
    overflow-x: hidden;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #1e272e;
}


/* ::-moz-selection { 
    color: red;
    background: yellow;
  }
  
  ::selection {
    color: red;
    background: yellow;
  } */


  /* disable textarea resize */
  textarea{
      resize: none;
  }

.header{
    /* border: 2px solid red; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
    color: #ffd32a;
}

.input-section{
    /* border: 2px solid red; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container{
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input{
    box-sizing: border-box;
    height: 50px;
    width: 350px;
    font-size: 1.5rem;
    padding: 20px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px 0 0 100px;
    border: none;
    font-weight: 500;
}

.input-container span{
   background-color: #ffd32a;
   font-size: 2.2rem;
   height: 100%;
    cursor: pointer;
    user-select: none;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   border-radius: 0px 100px 100px 0;
}

.gen-btn:nth-child(2){
    /* border: 2px solid red; */
    border-radius: 0px;
    background-color: white;
    color: #ffa801;
    transition: 100ms color ease-in-out;

}

.gen-btn:nth-child(2):hover{
    color: black;
}


.gen-btn:hover{
    background-color: #ffdd59;
}


.notes-section{
    /* background-color: #2a353d; */
    /* border: 2px solid red; */
    width: 80%;
    margin: 0px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 40px;

}

.notes-container{
    box-sizing: border-box;
    background-color: #2a353d;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    position: relative;
}

.delete-note{
    /* border: 2px solid red; */
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 100ms color ease-in-out;
    user-select: none;
}

.edit-note{
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 40px;
    cursor: pointer;
    transition: 100ms color ease-in-out;
    user-select: none;
}

.edit-note:hover{
    color: #ffd32a;
}

.delete-note:hover{
    color: #d63031;
}

.notes-container p{
    overflow-y:hidden;
}

.note-heading{
    font-size: 1.5rem;
}


/* MODAL section */

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    user-select: none;
    display: none;
}

.display-overlay{
    display: initial;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
    height: 500px;
    width: 50%;
    /* border: 2px solid red; */
    background-color: #dfe6e9;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* turning off the display */
    display: none;
}

.note-modal-heading{
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid red; */
    width: 100%;
    font-size: 1.7rem;
    text-transform: capitalize;
}

/* add display to modal */
.display-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.modal-input{
    /* border: 2px solid black; */
    border: none;
    outline: none;
    height: 85%;
    width: 100%;
    font-size: 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #dfe6e9;
    position: relative;
}

/* modal scroll track */
.modal-input::-webkit-scrollbar-track {
    background: #b2bec3;
    border-radius: 100px;
    cursor: pointer;
}
  
  .modal-input::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 100px;
      }
.modal span{
    font-size: 1.8rem;
    cursor: pointer;
    /* border: 2px solid red; */
    padding: 4px;
}

.close-modal{
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 3rem;
    cursor: pointer;
    /* border: 2px solid red; */
}

.modal span:hover{
    background-color: #1e272e;
    color: white;
    border-radius: 100px;
}



.add-note{
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.copy-note{
    position: absolute;
    right: 8%;
    bottom: 3%;
}